/*COLOURS*/
$canada-red: #eb1c3c;
$canada-grey: #333333;
$canada-white: #fff;


/*GENERAL RULES*/
body
{
	font-family: 'cast_ironcondensed';
 	font-size: 2em;
 	background-color: $canada-grey;
 	color: $canada-white;
}

h1
{
	font-family: 'cast_ironcondensed';
 	letter-spacing: 8px;
	font-size: 100px;
 	color: $canada-white;
}

h2
{
	font-family: 'cast_ironcondensed';
 	letter-spacing: 8px;
	font-size: 40px;
 	color: $canada-white;
}

@media (max-width: 500px)
{
	h1
	{
		line-height: 60px;
		font-size: 50px;
	}
}

p 
{
  font-family: 'Slabo 27px', serif;
  font-size: 22px;
}


a
{
	text-decoration: none;
	color: $canada-white;
}

a:hover
{
	text-decoration: none;
	color: $canada-white;
}


/*NAVIGATION*/

.fullWidth 
{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}


.top-bar
{
	background-color: transparent;
}


.top-bar .menu-icon
{
	display: block;
	float: right;
	margin-top: 20px;
	margin-right: 5px;
}


#stickyNav
{
	background-color: rgba(51,51,51,0.95);
	height: 75px;
}


#logo
{
	display: block;
	float: left;
	max-width: 50px;
	margin-top: 15px;
	margin-bottom: 15px;
}


#mainNav
{
	display: block;
	float: right;
	list-style-type: none;
	background-color: none;
	margin-top: 10px;

		li
		{
			display: inline;
			float: left;
			margin-left: 50px;
			font-size: 30px;
			letter-spacing: 5px;
		}

			a
			{
				display: block;
				color: $canada-white;
			}
}

@media (max-width: 1023px)
{

	 #mainNav
	  {
	  	position: absolute;
	  	right: 0;
	  	background-color: rgba(51,51,51,0.95);
	  	padding: 20px;
	  	

	  	li
	  	{
	  		float: none;
	  		display: block;
	  		text-align: right;
	  	}

	  	a
	  	{
	  		display: block;
	  	}

	  }
}

/*NAVIGATION*/

.fullWidth 
{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}


.top-bar
{
	background-color: transparent;
}


.top-bar .menu-icon
{
	display: block;
	float: right;
	margin-top: 20px;
	margin-right: 5px;
}


#stickyNav
{
	background-color: rgba(51,51,51,0.95);
	height: 75px;
}


#logo
{
	display: block;
	float: left;
	max-width: 50px;
	margin-top: 15px;
	margin-bottom: 15px;
}


#mainNav
{
	display: block;
	float: right;
	list-style-type: none;
	background-color: none;
	margin-top: 10px;

		li
		{
			display: inline;
			float: left;
			margin-left: 50px;
			font-size: 30px;
			letter-spacing: 5px;
		}

			a
			{
				display: block;
				color: $canada-white;
			}
}

@media (max-width: 1023px)
{

	 #mainNav
	  {
	  	position: absolute;
	  	right: 0;
	  	background-color: rgba(51,51,51,0.95);
	  	padding: 20px;
	  	

	  	li
	  	{
	  		float: none;
	  		display: block;
	  		text-align: right;
	  	}

	  	a
	  	{
	  		display: block;
	  	}

	  }
}

@media (min-width: 1024px)
{
	.underline
	{
		display: inline-block;
		position: relative;
		padding-bottom: 10px;
	}

	.underline:after 
	{
		content: '';
		display: block;
		margin: 0 auto;
		height: 2px;
		width: 0px;
		background: transparent;
		transition: width .5s ease, background-color .5s ease;
	}
	.underline:hover:after 
	{
		width: 100%;
		background: $canada-white;
	}
}



/*HOME PAGE*/

/*Mobile First*/

#homeLandingPage
{
	height: 90%;
	background-image: url(../images/action11.jpg);
	background-size: 100%;
	background-size: 300%;
	background-color: rgba(51,51,51,0.90);
	background-position: 50% 50%;
	background-blend-mode: overlay;
}

#homeTitle
{
	text-align: center;
	margin-top: 20%;
}

#homeParagraph
{
	text-align: center;
	font-size: 18px;
	line-height: 22px;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bgVideo {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bgVideo {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 769px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bgVideo {
    display: none;
  }
}

@media (min-width: 321px)
{
	#homeTitle
	{
		margin-top: 40%;
	}
}


#homeLegacyCont
{
	background-image: url(../images/action2.jpg);
	background-size: 190%;
	background-color: rgba(255,255,255,0.5);
	background-position: 50% 50%;
	background-blend-mode: overlay;
	height: 400px;
}

#homeLegacy
{
	text-align: center;
	margin-top: 100px;
	color: $canada-grey;
}

#homeLegacyButton
{
	background-color: $canada-red;
	border-radius: 12px;
	height: 50px;
	font-family: 'Slabo 27px';
	font-size: 24px;
	width: 200px;
	margin: 0 auto;
	display: block;
	margin-bottom: 290px;
	-webkit-transition: opacity 0.3s ease-in-out;
  	-moz-transition: opacity 0.3s ease-in-out;
  	-ms-transition: opacity 0.3s ease-in-out;
  	-o-transition: opacity 0.3s ease-in-out;
  	transition: opacity 0.3s ease-in-out;
}

#homeLegacyButton:hover
{
	opacity: 0.7;
}

#homeBlogCont
{
	background-image: url(../images/fans.jpg);
	background-position:50% 30%;
	background-size: 250%;
	height: 400px;
}

#homeBlog
{
	text-align: left;
	color: $canada-white;
	margin-left: 20px;
	margin-top: 120px;
}

#homeBlogContent
{
	background-color: rgba(51,51,51,.75);
	width: 100%;
	height: 400px;
}


#blogButton
{
	background-color: $canada-red;
	border-radius: 12px;
	height: 50px;
	font-family: 'Slabo 27px';
	font-size: 24px;
	width: 40%;
	width: 150px;
	display: block;
	margin-bottom: 20%;
	margin-left: 20px;
	-webkit-transition: opacity 0.3s ease-in-out;
  	-moz-transition: opacity 0.3s ease-in-out;
  	-ms-transition: opacity 0.3s ease-in-out;
  	-o-transition: opacity 0.3s ease-in-out;
  	transition: opacity 0.3s ease-in-out;
}

#blogButton:hover
{
	opacity: 0.7;
}

#homePartnerCont
{
	background-image: url(../images/ice_leaf.png);
	background-position: 60% 100%;
	background-size: 180%;
	height: 300px;
}


#homePartner
{
	margin-top: 50px;
	margin-bottom: 10px;
	color: $canada-grey;
	float: left;
	margin-left: 20px;
	width: 200px;

}

@media (max-width: 500px)
{
#homePartnerPar
{
	display: none;
}
}

#partnerButton
{
	background-color: $canada-red;
	border-radius: 12px;
	height: 50px;
	font-family: 'Slabo 27px';
	font-size: 24px;
	margin-bottom: 200px;
	width: 150px;
	-webkit-transition: opacity 0.3s ease-in-out;
  	-moz-transition: opacity 0.3s ease-in-out;
  	-ms-transition: opacity 0.3s ease-in-out;
  	-o-transition: opacity 0.3s ease-in-out;
  	transition: opacity 0.3s ease-in-out;
  	display: block;
	float: left;
	margin-left: 20px;
}

#partnerButton:hover
{
	opacity: 0.7;
}

#homeEducationCont {
  background-image: url(../images/action1.jpg);
  background-position: 50% 30%;
  background-size: 200%;
  height: 400px;
 }

#homeEducation 
{
	color: $canada-white;
	margin-top: 70px;
	margin-right: 10px;
	text-align: right;
 }

#homeEducationContent 
{
  background-color: rgba(51, 51, 51, 0.75);
  width: 100%; 
  height: 400px;
  position: absolute;
}

#homeEducationPar 
{
	display: inline-block;
	text-align: right;
	font-size: 18px;
	margin-right: 15px;
	margin-left: 20px;
  }

#educationButton {
  background-color: #eb1c3c;
  border-radius: 12px;
  height: 50px;
  font-family: 'Slabo 27px';
  font-size: 24px;
  width: 150px;
  margin-right: 15px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  display: block;
  float: right;
 }

#educationButton:hover {
  opacity: 0.7; }



#facebook
{
	background-image: url(../images/facebook.svg);
	max-height: 100px;
	z-index: 500;
}


#homeSocial
{
	text-align: center;
	margin-top: 30px;
}

#footerCont
{
	background-color: $canada-grey;	
	padding-bottom: 30px;
}

.copyRight
{
	text-align: center;
	font-size: 12px;
}

#footerLogo
{
	max-width: 40px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 8px;
}

#homeConnect
{
	height: 200px;
	background-image: url(../images/connect.jpg);
	background-position: 50% 30%;
 	background-size: 120%;
}

#connectButton {
  background-color: #eb1c3c;
  border-radius: 16px;
  height: 60px;
  font-family: 'Slabo 27px';
  font-size: 30px;
  width: 200px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
 }

#connectButton:hover {
  opacity: 0.7; }


/*Medium Home*/
@media (min-width: 500px)
{
	h1
	{
		font-size: 70px;
		line-height: 80px;
	}

	#logo
	{
		max-width: 60px;
	}

	#homeLandingPage
	{
		height: 95%;
	}

	#homeParagraph
	{
		font-size: 20px;
		line-height: 30px;
	}

	#homeLegacyCont
	{
		height: 600px;
		background-size: 210%;
	}

	#homeLegacy
	{
		margin-top: 200px;
	}

	#homeBlog {
	  text-align: left;
	  margin-bottom: 20px;
	  color: #fff;
	  display: block;
	  float: right;
	  margin-top: 40px;
	 }

	#homeBlogContent 
	{
	  background-color: rgba(51, 51, 51, 0.75); 
	  width: 70%;
	  float: right;
	}

	#blogButton {
	  display: block;
	  float: left; 
	}

	#homePartnerCont
	{
		background-image: url(../images/ice_leaf.png);
		height: 400px;
		background-position: 100% 100%;
		background-size: 150%;
	}


	#homePartner
	{
		margin-top: 50px;
		margin-bottom: 10px;
		color: $canada-grey;
		float: left;
		margin-left: 20px;
		width: 500px;

	}

	#homePartnerPar
	{
		color: $canada-grey;
		margin-left: 20px;
		font-size: 18px;
		width: 300px;
	}

	#homeEducationCont 
	{
	  background-position: 30% 30%;
	  background-size: 200%;
	  height: 400px;
	 }

	#homeEducation 
	{
		float: right;
		margin-top: 70px;
	 }

	#homeEducationContent 
	{
	  width: 70%; 
	  height: 400px;
	  float: left;
	}

	#homeEducationPar 
	{
		display: inline-block;
		text-align: right;
		font-size: 18px;
		margin-right: 20px;
		margin-left: 20px;
	  }

	#educationButton {
	  margin-right: 20px;
	  display: block;
	  float: right;
	 }

	.copyRight
	{
		font-size: 18px;
	}

	#footerLogo
	{
		max-width: 60px;
	}

}

/*Desktop Size*/
@media (min-width: 768px)
{
	h1
	{
		font-size: 100px;
		line-height: 110px;
	}

	#homeLandingPage
	{
		background-image: none;
		background-color: transparent;
	}

	#homeTitle
	{
		margin-top: 250px;
	}

	#homeBlogCont
	{
		height: 600px;
	}

	#homeBlogCont
	{
		background-size: 150%;
	}

	#homeBlog
	{
		text-align: left;
		color: $canada-white;
		margin-left: 40px;
		margin-top: 150px;
		margin-right: 40px;
	}

	#homeBlogContent
	{
		height: 600px;
		width: 60%;
	}

	#blogButton
	{
		margin-left: 40px;
	}

	#blogButton:hover
	{
		opacity: 0.7;
	}

	#homePartnerCont
	{
		background-image: url(../images/ice_leaf.png);
		height: 600px;
		background-position: 80% 100%;
		background-size: 150%;
	}


	#homePartner
	{
		margin-top: 100px;
		margin-bottom: 10px;
		color: $canada-grey;
		float: left;
		margin-left: 40px;
		width: 800px;

	}

	#homePartnerPar
	{
		color: $canada-grey;
		margin-left: 40px;
		font-size: 24px;
	}

	#partnerButton
	{
		margin-left: 40px;
	}

	#homeEducationCont
	{
		height: 600px;
	}

	#homeEducationContent
	{
		width: 60%;
		height: 600px;
	}

	#homeEducation
	{
		margin-top: 150px;
	}

	#homeEducationPar
	{
		font-size: 24px;
		margin-left: 40px;
	}

}

/*MEDIA MOBILE SIZE*/
#mediaLandingPage
{
	height: 90%;
	background-image: url(../images/signature.jpg);
	background-size: 100%;
	background-size: 300%;
	background-color: rgba(51,51,51,1);
	background-position: 50% 50%;
	background-blend-mode: overlay;
}

#mediaTitle
{
	text-align: center;
	margin-top: 20%;
	margin-top: 200px;
	font-size: 2em;
}

#mediaParagraph
{
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 100px;
}

.readMore
{
	text-align: center;
	color: $canada-white;
	font-family: 'cast_ironcondensed';
	font-size: .6em; 
	letter-spacing: 3px;
	margin-top: 170px;
	margin-bottom: 0px;
}

.downArrow
{
	width: 50px;
	max-width: 25px;
}

#mediaGallery
{
	background-image: url(../images/action9.jpg);
	background-size: 200%;
	background-color: rgba(255,255,255,.5);
	background-position: 50% 50%;
	background-repeat: none;
	background-blend-mode: overlay;
	max-height: 500px;
}

#mediaGalleryTitle
{
	text-align: center;
	margin-top: 100px;
	color: $canada-grey;
	font-size: 4em;
	margin-bottom: 40px;
}

#mediaGalleryButton
{
	background-color: $canada-red;
	border-radius: 12px;
	height: 50px;
	font-family: 'Slabo 27px';
	font-size: 24px;
	width: 200px;
	display: block;
	margin: 0 auto;
	margin-bottom: 75px;
	-webkit-transition: opacity 0.3s ease-in-out;
  	-moz-transition: opacity 0.3s ease-in-out;
  	-ms-transition: opacity 0.3s ease-in-out;
  	-o-transition: opacity 0.3s ease-in-out;
  	transition: opacity 0.3s ease-in-out;
}

#mediaGalleryButton:hover
{
	opacity: 0.7;
}

#mediaBlog
{
	background-image: url(../images/action5.jpg);
	background-size: 150%;
	background-color: rgba(51,51,51,1);
	background-position: 70% 40%;
	background-repeat: none;
	background-blend-mode: overlay;
	max-height: 500px;
}

#mediaBlogTitle
{
	text-align: center;
	margin-top: 100px;
	color: $canada-white;
	font-size: 4em;
	margin-bottom: 40px;
}

#mediaBlogButton
{
	background-color: $canada-red;
	border-radius: 12px;
	height: 50px;
	font-family: 'Slabo 27px';
	font-size: 24px;
	width: 200px;
	display: block;
	margin: 0 auto;
	margin-bottom: 75px;
	-webkit-transition: opacity 0.3s ease-in-out;
  	-moz-transition: opacity 0.3s ease-in-out;
  	-ms-transition: opacity 0.3s ease-in-out;
  	-o-transition: opacity 0.3s ease-in-out;
  	transition: opacity 0.3s ease-in-out;
}

#mediaBlogButton:hover
{
	opacity: 0.7;
}

#mediaPodcast
{
	background-image: url(../images/ice.jpg);
	background-size: 300%;
	background-color: rgba(255,255,255,.8);
	background-position: 50% 50%;
	background-blend-mode: overlay;
	max-height: 500px;
}

#mediaPodcastTitle
{
	text-align: center;
	margin-top: 100px;
	color: $canada-grey;
	font-size: 4em;
	margin-bottom: 20px;
}

#podcastComingSoon
{
	color: $canada-red;
	text-align: center;
}

#footerCont
{
	background-color: $canada-grey;	
	padding-bottom: 30px;
}

.copyRight
{
	text-align: center;
	font-size: 12px;
}

#footerLogo
{
	max-width: 40px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 8px;
}

#homeConnect
{
	height: 200px;
	background-image: url(../images/connect.jpg);
	background-position: 50% 30%;
 	background-size: 120%;
}

#connectButton {
  background-color: #eb1c3c;
  border-radius: 16px;
  height: 60px;
  font-family: 'Slabo 27px';
  font-size: 30px;
  width: 250px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
 }

#connectButton:hover {
  opacity: 0.7; }

/*Media Medium Size*/
@media only screen and (min-width: 40.063em) {
	#mediaTitle
	{
		font-size: 3em;
	}

	#mediaParagraph
	{
		font-size: .8em;
		line-height: 1em;
	}

	.readMore
	{
		margin-top: 10px;
	}

}

